env:
  global:
    - secure: s3E09fJPabJaEIFA56mOQCg9I9WYoPY5Um2KtD+4IP7CJJMwJpsxZ4ljfNEUYiLoxCk64bJEaz+xvIvNoEoFN/72WMAtXCfesGAiyk3miYSKI9B7haXj5UY/CFAkyGEVrvCa4XFFslDwZoMVfuEIH7nj5qdsZ4XV+nxMlZlb3DrMIxX+fNo33ieffaao9j4oKH4EdtKoi3iwpXKrIlfukZ+8gOx2fIDdEmQ+9QPlJMGgcrCmoSs04ngRuV2lOG/SI4yF5GSWVW2EJ33PIPnHiXYlDDwtikaAIVY1bjueBUeWf5fnLLiPm6fFshR9CT40L081VO5A5IZJbzNOnEvNCjYse05ZXnRq1zKAaRi/jykqv2bMtiBv8nK2YwWuWBE8DiBUHwWJ/uxDbaKbnTDtlH/vwJDN8RWIkqi8Mu/PMBkP7kPCBi98+rlfaOxN0R8ccYywrKmF+zD9nAWHDgNCo6Jia/YZjdNYV9Vpw3CeK4HazHZUBkQrx+85qcHP1RLvf/WewVC2Yt9Zn+gDKu7j8amR3RuOW1p3FZZMA3RI8I7jfdCOrUc1KnurYL3UH+aWmD32D3IoLXMRQ85bs98Ls3aft/9EAu+wTUW2l8RdjrFKHFZr94fVf1OK64lDdi52BMXAX92EM0XC4wEShgj4B4gFDf6xQWEXV4vSFk+4RhI=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/repository-structure
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install pyfunceble-dev
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
